body {
    background-color: #344c64;
    color: #fffae6;
}

#modal {
    color: #000000;
}

.table-one {
    width: 70%;
    margin-left: 1rem;
}

.table-two {
    margin-left: 2rem;
    margin-right: 3rem;
    padding: 1rem;
    width: 80%;
}
